<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502732033801-tki25ab30a1qom7ae5hvb4a30sib3gmg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502732033801-tki25ab30a1qom7ae5hvb4a30sib3gmg</string>
	<key>API_KEY</key>
	<string>AIzaSyB_e-8fCbeCaLA_lJ7a06W0EcOgi-9EOR8</string>
	<key>GCM_SENDER_ID</key>
	<string>502732033801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kamilgadek.controla</string>
	<key>PROJECT_ID</key>
	<string>pizza-krakow-0305</string>
	<key>STORAGE_BUCKET</key>
	<string>pizza-krakow-0305.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502732033801:ios:cc3ca5484567a5011dcdd8</string>
</dict>
</plist>